<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Lservlet</servlet-name>
        <servlet-class>Controller.Lservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sservlet</servlet-name>
        <servlet-class>Controller.Sservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fservlet</servlet-name>
        <servlet-class>Controller.Fservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Showservlet</servlet-name>
        <servlet-class>Controller.Showservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addservlet</servlet-name>
        <servlet-class>Controller.Addservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropFromTempDatabase</servlet-name>
        <servlet-class>Controller.DropFromTempDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBusRoutes</servlet-name>
        <servlet-class>Controller.AddBusRoutes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusRouteSchedule</servlet-name>
        <servlet-class>Controller.BusRouteSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusScheduleDisplay</servlet-name>
        <servlet-class>Controller.BusScheduleDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropFromBusRoute</servlet-name>
        <servlet-class>Controller.DropFromBusRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusRouteFilter</servlet-name>
        <servlet-class>Controller.BusRouteFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispServlet</servlet-name>
        <servlet-class>Controller.DispServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDispServlet</servlet-name>
        <servlet-class>Controller.StudentDispServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>Controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispFeedbackServlet</servlet-name>
        <servlet-class>Controller.DispFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>Controller.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispFileServlet</servlet-name>
        <servlet-class>Controller.DispFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileDisplay</servlet-name>
        <servlet-class>Controller.profileDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayDashboard</servlet-name>
        <servlet-class>Controller.DisplayDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lservlet</servlet-name>
        <url-pattern>/Lservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sservlet</servlet-name>
        <url-pattern>/Sservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fservlet</servlet-name>
        <url-pattern>/Fservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Showservlet</servlet-name>
        <url-pattern>/Showservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addservlet</servlet-name>
        <url-pattern>/Addservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropFromTempDatabase</servlet-name>
        <url-pattern>/DropFromTempDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBusRoutes</servlet-name>
        <url-pattern>/AddBusRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusRouteSchedule</servlet-name>
        <url-pattern>/BusRouteSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusScheduleDisplay</servlet-name>
        <url-pattern>/BusScheduleDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropFromBusRoute</servlet-name>
        <url-pattern>/DropFromBusRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusRouteFilter</servlet-name>
        <url-pattern>/BusRouteFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispServlet</servlet-name>
        <url-pattern>/DispServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDispServlet</servlet-name>
        <url-pattern>/StudentDispServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispFeedbackServlet</servlet-name>
        <url-pattern>/DispFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispFileServlet</servlet-name>
        <url-pattern>/DispFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileDisplay</servlet-name>
        <url-pattern>/profileDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayDashboard</servlet-name>
        <url-pattern>/DisplayDashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
